
  
    <header id="header">
      <a id="logo" href="/">MY POKE</a>
      <nav id="nav">
        <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu
          <span id="hamburger"></span>
        </button>
        <ul id="menu" role="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/create">Create a Pokemon</a></li>
          <li><a href="/alldetails">Details</a></li>
        
        </ul>
      </nav>
    </header>
    <script src="./script.js"></script>