@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, arial;
}

header{
    
    padding: 3rem;
    background-color: red;
}


header h1 {
    
    color: #fff;
    font-size: 3em;
    text-align: center;
}

main{

    margin: 0 10rem 0 10rem;

}

section#cards{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
    column-gap: 2rem;
    margin-block-end: 5rem;

}

section#cards div.card{

    width: 20rem;
    box-shadow: 10px 5px 5px 5px #00000015;
    padding: 1rem;
    margin-top: 5rem;
}

section#cards div.card img{

    height: 20vh;
    width: 10vw;

}

section#cards div.card h2{

    margin-bottom: 1rem;

}

section#cards div.card p.desc{

    margin-bottom: 1rem;

}

section#cards div.card p{
    margin-bottom: 0.3rem;

}

.moreText {

display: none;
flex-direction: column;
}

.readmorebtn {
    
    margin: 0 auto;
    font-size: 1rem;
    background-color: red;
    border: solid 1px black;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 2rem;
    
}
.readmorebtn:hover{

    background-color: rgb(170, 25, 0) ;
    color: whitesmoke;
}    



section#cadastro {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;
}


section#cadastro h2{

    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
}

section#cadastro form{

    width: 50%;

}

section#cadastro form input{

    width: 100%;
    padding: .7rem;
    font-size: 1rem;
    outline: none;
    border: solid 2px rgb(197, 197, 197);
    margin: 0 1rem 1rem 1rem;
}

section#cadastro form label {

    margin: 1rem;
    color: rgb(118, 118, 118);
}

section#cadastro form button{

    padding: .6rem;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: red;
    border: solid 1px black;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

section#cadastro form button:hover{

    background-color: rgb(170, 25, 0) ;
    color: whitesmoke;
}    

footer {

background-color: #111;
height: auto;
width: 100vw;
font-family: "Open Sans";
padding-top: 40px;
color: #fff;
}

.footer-content {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
     
}    

.footer-content p{

    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.socials{

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}

.socials li{

    margin: 0 10px;
    
}

.socials a{

    text-decoration: none;
    color: #fff;
    
}

.socials a i{

    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{

    color: red;
    
}





main{

    margin: 0 10rem 0 10rem;

}

section#cardDs{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
    column-gap: 2rem;
    margin-block-end: 5rem;

}

section#cards div.cardD{

    width: 20rem;
    box-shadow: 10px 5px 5px 5px #00000015;
    padding: 1rem;
    margin-top: 5rem;
}

section#cards div.cardD img{

    height: 20vh;
    width: 10vw;

}

section#cards div.cardD h2{

    margin-bottom: 1rem;

}

section#cards div.cardD p.desc{

    margin-bottom: 1rem;

}

section#cards div.cardD p{
    margin-bottom: 0.3rem;

}







section#alldets{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
    column-gap: 2rem;
    margin-block-end: 5rem;

}

section#alldets div.alldet{

    width: 20rem;
    box-shadow: 10px 5px 5px 5px #00000015;
    padding: 1rem;
    margin-top: 5rem;
}

section#alldets div.alldet img{

    height: 20vh;
    width: 10vw;

}

section#alldets div.alldet h2{

    margin-bottom: 1rem;

}

section#alldets div.alldet p.dett{
    flex-direction: column;
    

}

section#cards div.cardD p{
    margin-bottom: 0.3rem;

}








.detalhes {
    
    margin: 0 auto;
    font-size: 1rem;
    background-color: gray;
    border: solid 1px black;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 2rem;
    
}
.detalhes:hover{

    background-color: rgb(61, 61, 61) ;
    color: whitesmoke;
}    








  
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    
    height: 8vh;
  }
  
 
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  



  .alert{
    background: #31ee0b;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid #1ca900;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .alert.showAlert{
    opacity: 1;
    pointer-events: auto;
  }
  .alert.show{
    animation: show_slide 1s ease forwards;
  }
  @keyframes show_slide {
    0%{
      transform: translateX(100%);
    }
    40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-10px);
    }
  }
  .alert.hide{
    animation: hide_slide 1s ease forwards;
  }
  @keyframes hide_slide {
    0%{
      transform: translateX(-10px);
    }
    40%{
      transform: translateX(0%);
    }
    80%{
      transform: translateX(-10%);
    }
    100%{
      transform: translateX(100%);
    }
  }
  .alert .fa-check-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #1ca900;
    font-size: 30px;
  }
  .alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #fff;
  }
  .alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #31ee0b;
    padding: 20px 18px;
    cursor: pointer;
  }
  .alert .close-btn:hover{
    background: #31ee0b;
  }
  .alert .close-btn .fas{
    color: #1ca900;
    font-size: 22px;
    line-height: 40px;
  }